<nav class="navbar" navbar-expand-lg style="background-color: #857DB1;">
	<div Cass="container-fluid">
		<a class="navbar-brand text-light" href="#">Projeto II</a>
				<a href="/movies">Filmes</a> | 
		<a href="authors">Autores</a> |
		<a href="comments">Comentários </a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse">
		<span class="navbar-toggler-icon"></span>
	</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="/movies">Filmes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/authors">Autores</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/comments">Comentários</a>
				</li>
			</ul>	
		</div>
	</div>
</nav>